DB_USER=something
DB_PASS=something

PORT=
CORS_ORIGIN=


JWT_SECRET=something


HR_BE_BASE_URL=http:something.com
HR_FE_BASE_URL=http:something.com
INVENTORY_BE_BASE_URL=http:something.com
INVENTORY_FE_BASE_URL=http:something.com
KDS_BE_BASE_URL=http:something.com
KDS_FE_BASE_URL=http:something.com
POS_BE_BASE_URL=http:something.com
POS_FE_BASE_URL=http:something.com
MARKETPLACE_BE_BASE_URL=http:something.com
MARKETPLACE_FE_BASE_URL=http:something.com
MENU_BE_BASE_URL=http:something.com
MENU_FE_BASE_URL=http:something.com
REVIEW_FE_BASE_URL=http:something.com
REVIEW_FE_BASE_URL=http:something.com
